

.ad{
    position: relative;
    width: 3514px;
    height:70px;
    top: 0px;
    left: -2px;
    align-items: center;
    text-align:center;
    display:grid;
    grid-template-columns: 219px 238px 188px 175px 259px 354px 181px 340px 326px 318px 157px 156px 263px 184px 166px;
    color: #F6F3EE;
    font-family: Mulish;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 152%; /* 41.04px */
    letter-spacing: 0.27px;
    margin:0;
    box-sizing:border-box;
    border-bottom: 2px solid rgba(255,255,255,0.5);
}
.ad *{
    margin: 0;
    border-right: 2px solid rgba(255,255,255,0.5);
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    box-sizing:border-box;
    padding-left: 5px;
}

.ad .hoverEffect:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    width: max-content; /* Adjust based on text length */
    background-color: #2E2B96;
    color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 15; /* Ensure it's on top */
}


.ad *:last-child{
    border-right: none;
}

